@model WebSitePanelim.Entities.Referans

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Referans</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Baslik)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KisaAciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KisaAciklama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarih)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
