@model IEnumerable<FutbolcuTakim.Entities.Futbolcu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Adi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Soyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deger)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Ulke)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Takim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Takim.Lig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Takim.Ulke)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Soyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deger)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Ulke)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Takim.Adi)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Takim.Lig)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Takim.Ulke)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
