@model MvcOrnekProje2.Entities.Urun

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Urun</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirimFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirimFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAdet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAdet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KdvOran)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KdvOran)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KdvliFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KdvliFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToplamFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToplamFiyat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
