@using MvcOrnekProje2.Services;
@model IEnumerable<MvcOrnekProje2.Entities.Urun>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UrunAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirimFiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrunAdet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KdvOran)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KdvliFiyat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToplamFiyat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UrunAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirimFiyat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UrunAdet)
                </td>
                <td>
                    % @Html.DisplayFor(modelItem => item.KdvOran)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KdvliFiyat)
                </td>
                <td>
                     @Html.DisplayFor(modelItem => item.ToplamFiyat)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
