@using HastaneProje.Servisler;
@model DoktorRandevuSaatleriViewModel
@{

    AletCantasi alet = new AletCantasi(Model.Context);
    ViewData["Title"] = "DoktorRandevuSaatleriGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DoktorRandevuSaatleriGetir</h1>

<table class="table">
    <thead>
        <tr>
            <th>
               Saat Bilgisi
            </th>
            <th>
                İşlem
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Saatler)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RandevuSaati)
                </td>

                <td>
                    @if (@alet.RandevuVarMi(Model.DoktorTarihBilgi.DoktorId, item.Id, Model.DoktorTarihBilgi.Tarih.ToString()) == "1")
                    {
                         <a   class="btn btn-danger" href="#" >RANDEVU YAPILMIŞ</a>
                    }
                    else
                    {
                        <a asp-action="Create" asp-controller="Randevular" class="btn btn-success" asp-route-SaatId="@item.Id" asp-route-DoktorId="@Model.DoktorTarihBilgi.DoktorId" asp-route-Tarih="@Model.DoktorTarihBilgi.Tarih">REZERVASYON YAP</a>
                    }
                   
                </td>
            </tr>
        }
    </tbody>
</table>
