@model IEnumerable<HastaneProje.Entities.Bolumler>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lütfen randevu almak istediğiniz bölümü seçin.</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BolumAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                
                @Html.DisplayFor(modelItem => item.BolumAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bina.BinaAdi)
            </td>
            <td>
                <a asp-action="DoktorGetir" class="btn btn-success" asp-route-id="@item.Id">Bölüme Randevu Al</a>
            </td>
        </tr>
}
    </tbody>
</table>
